<settings>
 <category label="Geral">
    <setting id="1080pquality" label="Abrir videos em 1080p" type="bool" default=""/>
    <setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Play IMDBid com:" default="Genesis"/>
    <setting id="donotshowbychannels" label="Não mostrar items por baixo do nome do canal" type="bool" default="false"/>
    
  </category>
 

 <category label="Visualização">
    <setting id="use_thumb" type="bool" label="Usar Thumbnails como Fanart" default="true" />
    <setting id="add_playlist" type="bool" label="Mostrar Janela de seleção de Links" default="true"/>
    <setting id="ask_playlist_items" type="bool" label="Escolher items do Menu de Contexto" default="true" />
  </category>


  <category label="Complementos">
	<setting label="[COLOR aqua]Configurações de Complemento:[/COLOR]" type="lsep"/>
	<setting label="Verificar Complementos" id="check_addon" type="bool" default="true" />
	<setting label="Baixar e Instalar Elementum" id="elementum" type="bool" default="false" />
	<setting label="Baixar e Instalar Youtube" id="youtube" type="bool" default="true" />
</category>
 
  
 
  
   <category label="Controle dos Pais">
    	<setting id="parentalblockedpin" label="Senha" type="text"  option="hidden" default="1234"/> 
    <setting id="parentalblocked" label="Ativar?" type="bool"  default="false" enable="true"/>
    </category>
</settings>