<settings>
 <category label="Geral">
    <setting id="information" type="bool" label="Habilitar notícias do addon!" default="false"/>
    <setting id="save_location" type="folder"  label="Selecione um local de download." default=""/>
    <setting id="use_thumb" type="bool" label="Usar Thumbnails como Fanart" default="true" />
    <setting id="logo-folderPath" type="folder"  label="Escolher pasta para Logos" default=""/>
    <setting id="add_playlist" type="bool" label="Adicionar items com múltiplos links como playlists" default="true"/>
    <setting id="ask_playlist_items" type="bool" label="Escolher items do Menu de Contexto" default="true" />
    <setting id="debug" type="bool" label="Permitir debbugging do Add-on" default="true"/>
    <setting id="1080pquality" label="Play 1080p video ON demand se disponivel" type="bool" default=""/>
    <setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Play IMDBid com:" default="Genesis"/>
    <setting id="donotshowbychannels" label="Não mostrar items por baixo do nome do canal" type="bool" default="false"/>   
  </category>
  <category label="Login e Adiconar">
    <setting id="raw" type="text" label="Enable Login IPTV:" values="" option="hidden" default="INH"/>
	<setting type="sep" />
	<setting id="sourcefile" type="bool" label="Ativar as listas inseridas" enable="!eq(-1,0,false)" default="false"/>				
    <setting id="new_url_source" type="text" label="Adicionar URL" default="" visible="!eq(-1,false)"/>
    <setting type="action" label="Adicionar nome:" option="close" visible="!eq(-2,false)" action="RunPlugin(plugin://plugin.video.infotec.iptv/?mode=7)"/>
	<setting type="sep" />	
  </category>  
   <category label="Controlo Parental">
    <setting type="lsep" label="Controlo Parental ativado?"/>	    	
    <setting id="parentalblocked" label="Clique para habilitar" type="bool"  default="true" enable="true"/>
	<setting type="sep" />
	<setting label="[COLOR red]Informo[/COLOR]: senha vai ser pedida mais tarde!"/>
  </category>   
   <category label="[COLOR red]Limpeza[/COLOR]">  			
    <setting type="lsep" label="[COLOR red]Apenas para apagar ficheiros quando o addon estiver a dar erro.[/COLOR]"/>	
    <setting type="action" label="Clicar aqui para apagar ficheiro dos favoritos!" option="close" action="RunPlugin(plugin://plugin.video.infotec.iptv/?mode=26)"/>
	<setting type="action" label="Clicar aqui para apagar ficheiro da sua lista extra!" option="close" action="RunPlugin(plugin://plugin.video.infotec.iptv/?mode=27)"/>
  </category>   
</settings>