<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<category label="Principal">
	<setting label="[B][COLOR white]Onde baixar:[/COLOR][/B]" type="text" /> 
	<setting label="[COLOR gold]http://bit.ly/KeltecMP-IPTV[/COLOR]" type="text" />
	<setting label="" type="sep" />
	<setting label="[B][COLOR white]Página no Facebook:[/COLOR][/B]" type="text" /> 
	<setting label="[COLOR blue]http://fb.com/keltecmp.iptv/[/COLOR]" type="text" />
	<setting id="makeGroups" type="text" label="30036" default="true" visible="false"/>
	<setting id="Cat" label="Cat" type="text" default="0" visible="false" />
	<setting id="Catfo" label="Catfo" type="text" default="0" visible="false" />
	<setting id="CatMM" label="CatMM" type="text" default="0" visible="false" />
	<setting id="CatGO" label="CatGO" type="text" default="0" visible="false" />
	<setting id="cEPG" label="cEPG" type="text" default="0" visible="false" />
	<setting label="" type="sep" />
	<setting id="actDelFavourites" type="action" label="Limpar todos os Filmes Favoritos" action="RunPlugin(plugin://plugin.video.KeltecMPIPTV/default.py?mode=38&url=settings)" option="close"/>
	<setting id="actDelFavourites" type="action" label="Limpar todas as Séries Favoritas" action="RunPlugin(plugin://plugin.video.KeltecMPIPTV/default.py?mode=39&url=settings)" option="close"/>
	<setting id="cPage" label="cPage" type="text" default="0" visible="false" />
	<setting id="cPageleg" label="cPageleg" type="text" default="0" visible="false" />
	<setting id="cPagenac" label="cPagenac" type="text" default="0" visible="false" />
	<setting id="cPageser" label="cPageser" type="text" default="0" visible="false" />
	<setting id="cPageani" label="cPageani" type="text" default="0" visible="false" />
	<setting id="cPagedes" label="cPagedes" type="text" default="0" visible="false" />
	<setting id="cPagefo1" label="cPagefo1" type="text" default="0" visible="false" />
	<setting id="cPageMMf" label="cPageMMf" type="text" default="0" visible="false" />
	<setting id="cPageGOf" label="cPageGOf" type="text" default="0" visible="false" />
	<setting label="" type="sep" />
	<setting id="actDelHistorico" type="action" label="Limpar o Histórico" action="RunPlugin(plugin://plugin.video.KeltecMPIPTV/default.py?mode=40&url=settings)" option="close"/>
	<setting label="" type="sep" />
</category>

<category label="Ordem dos conteúdos">
	<setting label="[B][COLOR blue]RedeCanais.com:[/COLOR][/B]" type="text" />
	<setting id="cOrdRCF" type="enum" label="Ordem dos filmes" lvalues="Data|Título" default="0" />
	<setting id="cOrdRCS" type="enum" label="Ordem dos séries/anime/desenhos" lvalues="Data|Título" default="1" />
	<setting label="" type="sep" />
	<setting label="[B][COLOR gold]NetCine.us:[/COLOR][/B]" type="text" />
	<setting id="cOrdNCF" type="enum" label="Ordem dos filmes" lvalues="Data|Título" default="0" />
	<setting id="cOrdNCS" type="enum" label="Ordem dos séries/anime/desenhos" lvalues="Data|Título" default="0" />
	<setting label="" type="sep" />
	<setting label="[B][COLOR aqua]FilmesOnline.Online:[/COLOR][/B]" type="text" />
	<setting id="cOrdFO" type="enum" label="Ordem dos filmes" lvalues="Data|Título" default="1" />
</category>

<category label="Canais de TV">
	<setting label="[B][COLOR white]Coloque a senha para liberar conteúdo adulto dos canais de TV[/COLOR][/B]" type="text" />
	<setting id="cadulto" label="Senha:" option="hidden" type="text" default="" />
</category>
</settings>