<settings>
  <category label="Personalização">
    <setting id="mostrar_versao" type="bool" label="Mostrar Versão Atual" default="true" />
    <setting id="enable_configs" type="bool" label="Habilitar Menu de Configurações" default="true" />
    <setting id="enable_notification" type="bool" label="Habilitar Notificação de Boas Vindas" default="true" />
    <setting id="enable_content_add" type="bool" label="Habilitar Mensagem de Atualização de Conteúdos" default="true" />
  </category>
  
  <category label="Funções">
    <setting id="ask_playlist_items" type="bool" label="Habilitar Seleção de Links" default="true" enable="false"/>
    <setting id="add_playlist" type="bool" label="Agrupar conteúdos" default="true" enable="false"/>
    <setting id="use_thumb" type="bool" label="Usar Fundos como Capas" default="false" />
    <setting id="donotshowbychannels" label="Desabilitar Menus" type="bool" default="false" enable="false"/>
  </category>

  <category label="Controle dos Pais">
    <setting id="parentalblockedpin" label="PIN" type="text"  option="hidden"  default=""/>
    <setting id="parentalblocked" label="Ativar controle dos pais" type="bool" default="false" enable="true"/>
  </category>

  <category label="Player">
    <setting id="1080pquality" label="Exbição em 1080p (quando possível)" type="bool" default=""/>
    <setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Player Torrent Padrão:" default="Genesis"/>
  </category>

  <category label="Servidor de Conteúdos">
    <setting id="server_content" type="enum" values="1|2|3" label="Selecione um servidor:" default="0"/>
  </category>
</settings>
