<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="noobsandnerds login">
		<setting id="addonid" default="plugin.program.totalinstaller" visible="false"/>
		<setting id="login" label="Use noobsandnerds login (unlock features)" type="bool" default="false" visible="true"/>
		<setting id="username" label="Username" type="text" default="" visible="true"  enable="!eq(-1,false)"/>
		<setting id="password" label="Password" type="text" default="" visible="true"   enable="!eq(-2,false)"  option="hidden"/>
 		<setting id="dummy" label="[COLOR=yellow]Click here to check login credentials[/COLOR]" type="action" action="XBMC.RunScript(special://home/addons/plugin.program.totalinstaller/checkLogin.py)" option="close" visible="true"/>
		<setting type="lsep" label="[CR]Visit www.noobsandnerds.com for more info."/>
	</category>

	<category label="Community Builds">
		<setting type="lsep" label="Backup/Download Details"/>
		<setting id="zip" type="folder" label="Choose Backup Storage Location" default=""/>
		<setting id="dummy" label="[COLOR=yellow]Click here to check download path[/COLOR]" type="action" action="XBMC.RunScript(special://home/addons/plugin.program.totalinstaller/checkPath.py)" option="close"/>
		<setting type="lsep" label="[COLOR=gold]---------------------------------------------------------------[/COLOR]"/>
		<setting id="versionoverride" type="bool" label="Show ALL Builds (some of these may not be compatible)" default="false" enable="true"/>
		<setting id="private" type="bool" label="Show private content" default="false" enable="true"/>
		<setting type="lsep" label="[COLOR=gold]---------------------------------------------------------------[/COLOR]"/>
		<setting id="localcopy" type="bool" label="Keep local copies of downloaded builds" default="false"/>
		<setting id="mastercopy" type="bool" label="Create full duplicate backup AS WELL as a universal build" default="false"/>
		<setting id="favourites" type="bool" label="Keep my favourites when installing a build" default="false"/>
		<setting id="sources" type="bool" label="Keep my sources when installing a build" default="false"/>
	</category>

	<category label="Wizard Integration">
		<setting id="wizard" type="bool" label="Use Third Party Community Builds" default="false"/>
		<setting id="wizardurl1" type="text" label="Set 1st Community Build URL" default="" visible="!eq(-1,false)"/>
		<setting id="wizardname1" type="text" label="Set 1st CB List Name" default="" visible="!eq(-2,false)"/>
		<setting id="wizardurl2" type="text" label="Set 2nd Community Build URL" default="" visible="!eq(-3,false)"/>
		<setting id="wizardname2" type="text" label="Set 2nd CB List Name" default="" visible="!eq(-4,false)"/>
		<setting id="wizardurl3" type="text" label="Set 3rd Community Build URL" default="" visible="!eq(-5,false)"/>
		<setting id="wizardname3" type="text" label="Set 3rd CB List Name" default="" visible="!eq(-6,false)"/>
		<setting id="wizardurl4" type="text" label="Set 4th Community Build URL" default="" visible="!eq(-7,false)"/>
		<setting id="wizardname4" type="text" label="Set 4th CB List Name" default="" visible="!eq(-8,false)"/>
		<setting id="wizardurl5" type="text" label="Set 5th Community Build URL" default="" visible="!eq(-9,false)"/>
		<setting id="wizardname5" type="text" label="Set 5th CB List Name" default="" visible="!eq(-10,false)"/>
	</category>
<!--	<category label="Announcements">
		<setting id="startupvideo" type="bool" label="Check for important announcement video on startup" default="false" visible="false"/>
        <setting id="startupvideopath" type="folder" default="http://noobsandnerds.com/TI/check.txt" visible="false"/>
		<setting id="mynotifycheck" type="bool" label="Show important announcements from noobsandnerds" default="false" visible="false"/>
		<setting id="cbnotifycheck" type="bool" label="Show important announcement from Community Build author" default="false" visible="false"/>
	</category>-->

	<category label="Maintenance">
		<setting id="debug" type="bool" label="Enable debugging - use if having problems with CP addon" default="false"/>
		<setting id="email" type="text" label="E-Mail Address (used for log uploader)"/>
		<setting id="oldlog" type="bool" label="Include Kodi.Old.Log" default="false"/>
		<setting id="crashlog" type="bool" label="Include Kodi Crash Logs" default="false"/>
 		<setting id="dummy" label="[COLOR=yellow]Click here to upload a log[/COLOR]" type="action" action="XBMC.RunScript(special://home/addons/plugin.program.totalinstaller/uploadLog.py)" option="close"/>
		<setting type="lsep" label="Once your log is uploaded you will receive an email with the link."/>
		<setting type="lsep" label="[COLOR=gold]---------------------------------------------------------------[/COLOR]"/>
 		<setting id="dummy" label="[COLOR=yellow]Click here to reset your add-on[/COLOR]" type="action" action="XBMC.RunScript(special://home/addons/plugin.program.totalinstaller/resetAddon.py)" option="close"/>
		<setting type="lsep" label="Use this option if you're encountering problems with the add-on not"/>
		<setting type="lsep" label="loading correctly (script errors)."/>
	</category>

	<category label="Extras">
		<setting id="adult" type="bool" label="Enable XXX Content" default="false"/>
		<setting id="backupinstall" type="bool" label="Enable backup addon install method" default="false"/>
		<setting type="lsep" label="[COLOR=gold]---------------------------------------------------------------[/COLOR]"/>
		<setting id="internetcheck" type="bool" label="Warn if not connected to internet" default="false" />
		<setting type="lsep" label="[COLOR=gold]---------------------------------------------------------------[/COLOR]"/>
		<setting id="cleancache" type="bool" label="Automatically clean cache" default="false"/>
		<setting type="lsep" label="Will clear any old thumbnails not accessed in the past 14 days."/>
		<setting type="lsep" label="[COLOR=gold]---------------------------------------------------------------[/COLOR]"/>
		<setting type="lsep" label="IP Lookup"/>
		<setting id="ip_site" label="Site to use for IP lookups" type="labelenum" default="whatismyipaddress.com" values="iplocation.net|whatismyipaddress.com" visible="true"/>
	</category>
</settings>
