<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Players">
	    <setting label="[B][COLOR blue]Selecione abaixo seu gerenciador de torrents[/B][/COLOR]" type="lsep" /> 
	    <setting type="sep" />
        <setting label="32054" type="labelenum" id="plugin" default="Quasar" values="Pulsar|Quasar|YATP|KmediaTorrent|Torrenter|XBMCtorrent"/>
		<setting type="sep" />
	    <setting label="32057" type="lsep"/>
	    <setting label="32058" type="lsep"/>
        <setting type="lsep" />
    </category>
    <category label="Idioma">
	    <setting label="[B][COLOR blue]Selecione abaixo seu idioma[/B][/COLOR]" type="lsep" />	
		<setting id="infoLang" type="select" label="30803" values="bg|cs|da|de|el|en|es|fi|fr|he|hr|hu|it|ja|ko|nl|no|pl|pt|pt-BR|ru|sl|sv|tr|zh" default="pt-BR" />
</category>
		</settings>