<settings>
  
  <category label="Adicionar Fonte">
    <setting id="choose_source" type="enum" values="Escolher Arquivo|Entre com a URL" label="Escolha o tipo de fonte" default=""/>
    <setting id="new_file_source" type="file" source="files" label="Escolher Arquivo" default="" visible="eq(-1,0)"/>
    <setting id="new_url_source" type="text" label="Adicione URL" default="" visible="eq(-2,1)"/>
    <setting type="sep" />
    <setting type="action" label="Adicionar fonte" option="close" action="RunPlugin()" />
    <setting type="sep" />
    <setting id="searchotherplugins" label="Pesquisar Outros plugins" type="bool" default="false"/>
  </category>
 
<category label="Players">
	    <setting label="[B][COLOR blue]Selecione abaixo seu gerenciador de torrents[/B][/COLOR]" type="lsep" /> 
	    <setting type="sep" />
        <setting label="32054" type="labelenum" id="plugin" default="Elementun" values="Elementun|Quasar|YATP"/>
		<setting type="sep" />
	    <setting label="32057" type="lsep"/>
	    <setting label="32058" type="lsep"/>
        <setting type="lsep" />
   </category>
 
  <category label="Geral">
    <setting id="save_location" type="folder"  label="Selecione um local de download." default=""/>
    <setting id="use_thumb" type="bool" label="Use Miniaturas como Fanart" default="false" />
    <setting id="logo-folderPath" type="folder"  label="Selecione o diretório para o logotipo." default=""/>
    <setting id="add_playlist" type="bool" label="Adicione ítens com vários links como listas de reprodução" default="true"/>
    <setting id="ask_playlist_items" type="bool" label="Pedir itens da lista de reprodução para escolher a caixa de diálogo" default="true" />
    <setting id="debug" type="bool" label="Ativar depuração de complemento" default="false"/>
    <setting id="1080pquality" label="Reproduz vídeo 1080p sob demanda, se disponível (Não ao Vivo)" type="bool" default=""/>
    <setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Reproduza IMDBid com:" default="Genesis"/>
    <setting id="donotshowbychannels" label="Não mostrar ítens no nome do canal" type="bool" default="false"/>
    <setting id="parentalblockedpin" label="Pin do Controle Parental" type="text"  option="hidden"  default=""/>
    <setting id="parentalblocked" label="Quer aplicar o Controle Parental?" type="bool" default="false" enable="false"/>
    
  </category>
<category label="Proxy">
		<setting label="[COLOR lightblue][B]Opções do Proxy:[/B][/COLOR]" type="lsep"/>
		<setting label="[COLOR blue][B]Ativar Proxy[/B][/COLOR]" id="proxy" type="bool"  default="false" />
		<setting label="[COLOR blue][B]Número de Tentativas[/B][/COLOR]" id="proxy_try" type="enum" values="1 Vez|2 Vezes|3 Vezes|4 Vezes|5 Vezes|6 Vezes|6 Vezes|7 Vezes|8 Vezes|9 Vezes|10 Vezes" default="4" />
		<setting label="[COLOR red][B]Utilize apenas se a operadora estiver bloqueando o servidor[/B][/COLOR]" type="bool"/>
		<setting label="[COLOR red][B]BXL.[/B][/COLOR]" type="bool"/>
		<setting label="[COLOR red][B]Não se aplica a servidores de IPTV como o VIP esses tem[/B][/COLOR]" type="bool"/>
		<setting label="[COLOR red][B]conexão direta.[/B][/COLOR]" type="bool"/>
		<setting label="[COLOR red][B]Utilize VPN se a operadora bloqueia o IPTV.[/B][/COLOR]" type="bool"/>
</category>
<category label="Canais">
		<setting label="[COLOR lightblue][B]Configurações dos Canais:[/B][/COLOR]" type="lsep"/>
		<setting label="[COLOR blue][B]Exibir Canais 4K (Lista M3U)[/B][/COLOR]" id="uhdtv" type="bool" default="true" />
		<setting label="[COLOR blue][B]Exibir Canais FHD (Lista M3U)[/B][/COLOR]" id="fhdtv" type="bool" default="true" />
		<setting label="[COLOR blue][B]Exibir Canais HD (Lista M3U)[/B][/COLOR]" id="hdtv" type="bool" default="true" />
		<setting label="[COLOR blue][B]Exibir Canais SD (Lista M3U)[/B][/COLOR]" id="sdtv" type="bool" default="true" />
		<setting label="[COLOR blue][B](Lista M3U) Exibir Apenas Canais de[/B][/COLOR]" id="filtrar" type="enum" values="Desativado|Futebol|Esportes|Filmes e Series|Infantil|Documentario|Aberto|Reality show" default="0" />
		<setting label="[COLOR blue][B]Executar com[/B][/COLOR]" id="f4m" type="enum" values="[COLOR blue][B]F4mTester[/B][/COLOR] [COLOR red][B](mais estável, maior delay)[/B][/COLOR]|[COLOR blue][B]Padrão[/B][/COLOR] [COLOR red][B](menos estável, menor delay)[/B][/COLOR]" default="0" />
</category>
<category label="Controle dos Pais">
		<setting label="[COLOR lightblue][B]Controle dos Pais:[/B][/COLOR]" type="lsep"/>
		<setting label="[COLOR blue][B]Exibir Menu Adultos[/B][/COLOR]" id="adult" type="bool" default="false" />
		<setting label="[COLOR blue][B]Exibir Canais Adultos (Lista M3U)[/B][/COLOR]" id="adult2" type="bool" default="false" />
		<setting label="[COLOR blue][B]Tipo de Teclado (OK para trocar)[/B][/COLOR]" id="keyboard" type="enum" values="Númerico|Alfanúmerico" default="0" />
		<setting label="[COLOR blue][B]Entre aqui para alterar senha[/B][/COLOR]" type="action" action="RunScript(plugin.video.BlurayPlay, SetPassword)"/>
		<setting label="[COLOR yellow][B]Senha padrão 1002[/B][/COLOR]" type="bool"/>
</category>
<category label="Complementos">
	<setting label="[COLOR lightblue][B]Configurações de Complemento:[/B][/COLOR]" type="lsep"/>
	<setting label="[COLOR blue][B]Verificar Complementos[/B][/COLOR]" id="check_addon" type="bool" default="true" />
	<setting label="[COLOR blue][B]Baixar e Instalar Elementum[/B][/COLOR]" id="elementum" type="bool" default="false" />
</category>
<category label="Outros">
	<setting label="[COLOR lightblue][B]Configurações Gerais:[/B][/COLOR]" type="lsep"/>
	<setting label="[COLOR blue][B]Exibir Mensagem de Boas Vindas[/B][/COLOR]" id="mensagem1" type="bool" default="true" />
	<setting label="[COLOR blue][B]Exibir Mensagem de Status[/B][/COLOR]" id="mensagem2" type="bool" default="true" />
	<setting label="[COLOR blue][B]Exibir Favoritos[/B][/COLOR]" id="favoritos" type="bool" default="false" />
    <setting label="[COLOR blue][B]Entre aqui para limpar os favoritos[/B][/COLOR]" type="action" action="RunScript(plugin.video.BlurayPlay, limparFavoritos)"/>
	<setting label="[COLOR blue][B]Executar youtube fora do BXL[/B][/COLOR]" id="youtubeexterno" type="bool" default="false" />
    <setting label="[COLOR blue][B]Use Miniaturas como Fanart[/B][/COLOR]" id="use_thumb" type="bool" default="false" />
</category>
</settings>

