<settings>
<category label="INFORMAÇÕES">
<setting label="[COLOR lightblue]INFORMAÇÕES:[/COLOR]" type="lsep"/>
<setting label="[B][COLOR white]DOWNLOADS: [COLOR gold]ACESSAR![/COLOR][/COLOR][/B]" type="action" action="RunScript(plugin.video.BrazucaPlay, siteoficial)"/>
<setting label="[B][COLOR white]REPOSITÓRIO: [COLOR gold]ACESSAR![/COLOR][/COLOR][/B]" type="action" action="RunScript(plugin.video.BrazucaPlay, siteoficial)"/>
<setting label="[B][COLOR white]TELEGRAM: [COLOR gold]ACESSAR![/COLOR][/COLOR][/B]" type="action" action="RunScript(plugin.video.BrazucaPlay, siteoficial)"/>
<setting id="donotshowbychannels" label="" visible="false" type="bool" default="false"/>
<setting id="add_playlist" type="bool" visible="false" label="Adicionar items com múltiplos links como playlists" default="true"/>
<setting id="ask_playlist_items" type="bool" visible="false" label="Escolher items do Menu de Contexto" default="true" />
</category>
</settings>