<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Players">
		<setting type="action" label="configurar metahandler" option="close" action="RunPlugin(plugin://plugin.video.Blackarrowtorrent/?mode=990)" />
	    <setting label="[B][COLOR blue]Selecione abaixo seu gerenciador de torrents[/B][/COLOR]" type="lsep" /> 
	    <setting type="sep" />
        <setting label="32054" type="labelenum" id="plugin" default="Quasar" values="Pulsar|Quasar|YATP|KmediaTorrent|Torrenter|XBMCtorrent"/>
		<setting type="sep" />
	    <setting label="32057" type="lsep"/>
	    <setting label="32058" type="lsep"/>
        <setting type="lsep" />
    </category>
    <category label="Idioma">
	    <setting label="[B][COLOR blue]Selecione abaixo seu idioma[/B][/COLOR]" type="lsep" />	
		<setting id="infoLang" type="select" label="30803" values="bg|cs|da|de|el|en|es|fi|fr|he|hr|hu|it|ja|ko|nl|no|pl|pt|pt-BR|ru|sl|sv|tr|zh" default="pt" />
    </category>
	
	<category label="KODI IPTV DIRETO">
	    <setting label="[COLOR blue][B]Coloque a Chave [/B][/COLOR]" type="lsep" /> 
		<setting default="" label="[COLOR=red]Chave[/COLOR]" type="text" id="password" enable="!eq(-2,false)" option="hidden"/>
	</category>
	
	<category label="Usar Quasar Fork e outros players Alternativos">
	    <setting label="[COLOR blue][B]Usar Quasar Fork [/B][/COLOR]" type="lsep" /> 
		<setting label="Usar Quasar Fork" type="labelenum" id="quasarfork" default="NAO" values="SIM|STREMIO|NAO"/>
	</category>

		</settings>