<settings>
<category label="FILMES 4K">
	<setting id="suporte" type="bool" label="Clique em OK Para Sair! " default="true" />
</category>
<category label="CONFIGURAÇÕES">
	<setting id="mensagem1" type="bool" label="Exibir Mensagem de Boas Vindas" default="true" />
	<setting id="mensagem2" type="bool" label="Exibir Mensagem de Status" default="true" />
	<setting id="dlaudioonly" type="bool" label="Baixar apenas audio" default="false" />
    <setting id="use_thumb" type="bool" label="Use Miniaturas como Fanart" default="false" />
    <setting id="add_playlist" type="bool" label="Adicione ítens com vários links como listas de reprodução" default="true"/>
    <setting id="ask_playlist_items" type="bool" label="Pedir itens da lista de reprodução para escolher" default="true" />
    <setting id="debug" type="bool" label="Ativar depuração de complemento" default="false"/>
    <setting id="1080pquality" label="Reproduz vídeo 1080p sob demanda, se disponível (Não ao Vivo)" type="bool" default="true"/>
	<setting id="Updatecommonresolvers" type="bool" label="Atualizar Resolvedores Comuns" default="true"/>
	<setting id="save_location" type="folder"  label="Selecione um local de download." default=""/>
    <setting id="logo-folderPath" type="folder"  label="Selecione o diretório para o logotipo." default=""/>
    <setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Reproduza IMDBid com:" default="Genesis"/>
</category>
</settings>
