<settings>
  		<category label="Configuración General">
		<setting type="lsep" label="                                                     Actualización 27/6/2017" option="close" action="RunPlugin(plugin://plugin.video.Explora/?mode=7)" />
        <setting type="lsep" label=" [COLOR yellow][B]Para Peticiones Contactarme en netaiaddons@gmail.com[/B] Tambien acceder a mi grupo de telegram https://t.me/joinchat/Ej3p3A3BfXTSj1MOSAYXWw[/COLOR]" option="close" action="RunPlugin(plugin://plugin.video.Explora/?mode=7)" />
        <setting type="lsep" label="Para su buen funcionamiento pinchar en" option="close" action="RunPlugin(plugin://plugin.video.Explora/?mode=88)" />
        <setting type="lsep" label="[COLOR red]POR DEFECTO[/COLOR] y luego en [COLOR red]OK[/COLOR]" option="close" action="RunPlugin(plugin://plugin.video.Explora/?mode=88)" />
		<setting id="ask_playlist_items" type="bool" label="Elegir Fuente de Video" default="true" visible="false"/>
		<setting id="debug" type="bool" label="Enable Add-on Debugging" default="true" visible="false"/>
        <setting id="1080pquality" label="[COLOR gold]Mejorar calidad 1080p[/COLOR]" type="bool" default="true"/>
	    <setting id="nocon" label="[COLOR yellow]Pre buffered Activo.[/COLOR]" type="bool" default="true"/>
		<setting id="add_playlist" type="bool" label="Activar Multilink" default="true" visible="false"/>
		<setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Play IMDBid with:" default="Genesis"visible="false"/>
		
        
		</category>
  </settings>

